/* ChapterDetail.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.chapter-content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

.chapter-content h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.chapter-content pre {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 40px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -40px;
    
    /* Đặt vị trí các nút ở dưới nội dung */
    width: 100%;
}

.navigation-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
    transform: translateY(50%) translateX(-13%) ;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.navigation-buttons button:hover {
    background-color: #0056b3;
}

.navigation-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}