/* HomePage.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    background-color: #f9fafb;
    padding: 2rem 0;
}

h1 {
    color: #2d3748;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 4rem;
}

h2 {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.bg-white {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.bg-white:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
}

.font-semibold {
    font-weight: 600;
    margin: 0.5rem 0;
    cursor: pointer;
}

p {
    color: #4a5568;
}

footer {
    background-color: #ffffff;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #2d3748;
}

.comic-tag {
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.comic-tag img {
    width: 600px;
    height: 600px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.comic-tag h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.comic-tag p {
    font-size: 1rem;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.flex a:hover {
    color: #4a5568;
}

/* ChapterDetail.css */

.chapter-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.chapter-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.chapter-content {
    font-size: 1rem;
    line-height: 1.5;
}