.manager-page-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    margin-bottom: 10px;
}

.user-table,
.payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.user-table th,
.payment-table th,
.user-table td,
.payment-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th,
.payment-table th {
    background-color: #f2f2f2;
}

.assign-role-container {
    margin-top: 20px;
}

.assign {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
}
.delete {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: purple;
}