/* User.css */
h1{
    justify-content: center;
    align-items: center;
    display: flex;
}
.table-container {
    width: 100%;
    padding: 20px;
}

.ant-table {
    margin-top: 20px;
    border: 1px solid #000;
    
}

.ant-table-thead>tr>th {
    background-color: #fafafa;
    font-weight: bold;
    border: 1px solid #000;
}

.ant-table-cell{
    border: 1px solid #000;
}

.ant-table-pagination {
    margin: 16px 0;
}